@page "/expenseCategoryList"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@*@inject IDialogService DialogService*@

<h4>ExpenseCategory List</h4>
<MudButton Variant="Variant.Filled" Link="expenseCategoryList/create" style="float: right;">Create</MudButton>
@if (Categories == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudTable Items="@Categories">
        <ColGroup>
            <col />
            <col />
            <col style="width:40px;" />
            <col style="width:40px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Code</MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title">@context.Name</MudTd>
            <MudTd DataLabel="TotalAmount">@context.Code</MudTd>
            <MudTd><MudButton Variant="Variant.Filled" Link=@($"expenseCategoryList/edit/{context.Id}") Size="Size.Small">Edit</MudButton></MudTd>
            <MudTd><MudButton Variant="Variant.Filled" OnClick="@(()=>DeleteCategory(context.Id))" Size="Size.Small">Delete</MudButton></MudTd>
        </RowTemplate>
    </MudTable>
}

