@page "/login"

<h3>LogIn</h3>

<EditForm Model="@LogInModel" OnValidSubmit=@OnSubmit>
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="LogInModel.Email" Label="Email" Variant="Variant.Text" Adornment="Adornment.Start" />
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="LogInModel.Password" Label="Password" Variant="Variant.Text" InputType="@InputType.Password" Adornment="Adornment.End" />
        </MudItem>
    </MudGrid>
    <MudButton ButtonType=ButtonType.Submit Variant="Variant.Filled" Color="Color.Primary" @onkeypress="@Enter">Log In</MudButton>
</EditForm>

<h3>@ErrorMessage</h3>