@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ExpenseClaims.Client.Contracts.IAuthenticationService AuthenticationService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorizing>
                    <text>...</text>
                </Authorizing>
                <NotAuthorized>
                    <a href="login" class="singIn">Sign In</a>
                    <a href="register" class="signUp">Sign Up</a>
                </NotAuthorized>
                <Authorized>
                    <ui class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        <h6 class="userNameTag">@UserName</h6>
                        <button @onclick="Logout"><h6>Logout</h6></button>
                    </ui>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private String UserName { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        UserName = await AuthenticationService.GetCurrentUserName();
    }

    async Task Logout()
    {
        await AuthenticationService.Logout();
        NavigationManager.NavigateTo("/");
    }
}