@page "/"

<h1>Claim your expense</h1>

Simple to use, fast to receive your money

<dl>
    <dt>SuperAdmin</dt>
    <dd>superadmin@gmail.com</dd>
    <dt>General User</dt>
    <dd>general@gmail.com</dd>
    <dt>Approver</dt>
    <dd>approverl@gmail.com</dd>
    <dt>Financer</dt>
    <dd>financer@gmail.com</dd>
    <dt>Password of all accounts is</dt>
    <dd>123Pa$$word!</dd>
</dl>